.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    margin: 0px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}   

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.nav, .footer, .main {
    background-color: #1F2937;
    color: #F9FAF8
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.main {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 120px;
}

.pepe {
    width: 500px;
    height: 260px;
}

.content {
    flex-grow: 1;
}

.main-text {
    max-width: 400px;
    margin-right: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 8px;
    border: solid 2px #3882F6; 
}